html {
  font-size: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #cccccc;
}
.up-button {
  display: none;
}
body {
  background-color: #b5eaea;
}
nav {
  background-color: #303133;
  padding: 15px;
}
.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar a {
  color: #cccccc;
  font-size: 1.25rem;
  text-decoration: none;
}
.sidebar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0 30px;
  font-size: 25px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
}
ul {
  display: none;
  list-style-type: none;
}
ul.show {
  display: block;
}
ul li {
  border-bottom: ridge 1px rgba(255, 255, 255, 0.2);
}
ul li:last-child {
  border-bottom: none;
}
ul li a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  font-size: 1rem;
}
ul li i {
  float: right;
  color: #f6ab6c;
  padding-top: 5px;
}
ul li a:hover {
  color: #f6ab6c;
}
ul li a:hover > i {
  color: #cccccc;
}
.left .avt {
  display: none;
}
/*Introduction*/
header,
.content {
  background-color: #303133;
  margin: 15px;
  display: flex;
  flex-flow: column wrap;
  position: relative;
}
#introduce {
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 100px 30px;
}
#introduce span {
  color: #f6ab6c;
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#introduce h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #cccccc;
}
#introduce h2 {
  font-weight: 200;
  font-size: 1.625rem;
  color: #cccccc;
}
#cou-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.but {
  flex-grow: 1;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 30px;
  padding: 15px 0;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
}
.but:first-child {
  color: #f6ab6c;
  background-color: #222222;
}
.but:last-child {
  color: #222222;
  background: #f6ab6c;
}
.but:first-child i {
  margin-right: 10px;
  color: #f6ab6c;
}
.but:last-child i {
  margin-right: 10px;
  color: #000;
}
.but::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: 0.2s;
  transform: scaleX(0);
}
.but:hover::before {
  transform: scaleX(1);
}
/*About me*/
.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 60px 30px;
}
.content h2 {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  color: #f6ab6c;
}
.content h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  border-bottom: solid #f6ab6c 3px;
}
.avt {
  margin: 15px 0;
}
.avt img {
  width: 100%;
  height: auto;
}
.objective {
  height: 40vh;
}
/*Technical Skills*/
h3 {
  text-decoration: underline;
  padding: 0 0 10px 0;
  font-size: 1.25rem;
  color: #b5eaea;
}
.skill p {
  padding: 5px 0;
}

span i {
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: solid 1px #111;
  border-radius: 50%;
  background-color: #222222;
}
i.fa-html5 {
  color: red;
}
i.fa-css3-alt,
i.fa-code {
  color: royalblue;
}
i.fa-js-square {
  color: gold;
}
i.fa-bootstrap {
  color: rgb(241, 82, 241);
}
i.fa-react {
  color: aqua;
}
i.fa-github {
  color: white;
}
/*Education*/
.content > p {
  font-size: 1rem;
  margin-bottom: 16px;
}
.edu-content {
  padding: 10px 0 20px 20px;
  border: solid 1px #cccccc;
  border-bottom: none;
  border-right: none;
  position: relative;
}
.edu-content-first {
  border-top: none;
}
.edu-content span {
  margin-bottom: 10px;
  font-style: italic;
}
.edu-content span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f6ab6c;
  top: 17px;
  left: -6px;
  border-radius: 50%;
}
/*Projects*/
.project-wrapper {
  display: flex;
  flex-flow: column wrap;
}
.project {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
  border: solid 1px #cccccc;
  border-radius: 5px;
  box-shadow: #b5eaea 2px 5px 10px;
}
.project img {
  width: 100%;
  height: 100%;
}
.project a {
  width: 100%;
  height: 50%;
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: #000;
  background-color: rgba(246, 171, 108, 0.8);
  padding: 25px 10px;
  transition: 0.3s linear;
}
.project:hover img {
  opacity: 0.3;
  transition: 0.3s;
}
.project:hover a {
  top: 50%;
}
/*Contact*/
.contact-info {
  padding: 30px 0;
}
.contact-info h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #b5eaea;
}
.contact-info .row {
  display: flex;
  align-items: center;
  height: 65px;
}
.contact-info .row h5 {
  font-size: 1rem;
  color: #e5e2e2;
  font-weight: 700;
}
.contact-info .row i {
  font-size: 1.5rem;
  color: #f6ab6c;
}
.contact-info .row .contact-items {
  margin-left: 30px;
}
.contact-info input,
.contact-info textarea {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
  border: solid 1px lightgray;
  border-radius: 6px;
}
.contact-info textarea {
  resize: vertical;
  height: 80px;
}
.contact-info input[type="submit"] {
  width: 160px;
  height: 45px;
  background-color: #f6ab6c;
  color: #303133;
  border: #f6ab6c solid 1px;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}
/*Footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
footer span {
  color: #303133;
}
footer a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  /*Back button*/
  @keyframes arrow {
    0% {
      bottom: 2px;
    }
    50% {
      bottom: 15px;
    }
    100% {
      bottom: 2px;
    }
  }
  .up-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50px;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 1;
  }
  .up-button a {
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-align: center;
  }
  /*Layout*/
  .container {
    position: relative;
    width: 100%;
  }
  .left {
    width: 300px;
    height: 100%;
    position: fixed;
    float: left;
    overflow: auto;
    margin-left: -240px;
    padding: 0;
    transition: all 0.4s;
    z-index: 2;
  }
  .left:hover {
    margin-left: 0;
    background-color: #121213;
  }
  .left:hover .avt {
    display: block;
  }
  .right {
    position: relative;
    width: calc(100% - 60px);
    float: right;
  }
  /*Left*/
  .left .sidebar {
    display: none;
  }
  .left ul {
    display: block;
    padding: 20px 0;
  }
  .left ul li a {
    padding: 5px 25px 7px;
  }
  .left .avt {
    margin: 0;
    display: none;
  }
  /*Right*/
  /*About*/
  #about-wrapper {
    display: flex;
    align-items: center;
  }
  #about-wrapper .avt {
    flex: 40%;
  }
  #about-wrapper p {
    flex: 60%;
    padding: 0 15px;
  }
  /*Skills*/
  .skill {
    display: flex;
    padding: 10px 0;
  }
  .skill p {
    padding: 0 20px;
    border-right: solid 1px #cccccc;
  }
  .skill p:last-child {
    border-right: none;
  }
  /*Projects*/
  .project-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .project {
    width: 300px;
  }
  .project:first-child {
    margin-right: 10px;
  }
  .project a {
    padding: 25px 10px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .left {
    margin-left: 0;
  }
  .left:hover {
    background-color: #303133;
  }
  .right {
    width: calc(100% - 300px);
  }
  /*Left*/
  .left .avt {
    display: block;
  }
  /*Right*/
  /*Contact*/
  .contact-wrapper {
    display: flex;
    align-items: center;
  }
  .contact-info {
    padding: 0 20px 0 0;
  }
  .contact-info:last-child {
    width: 50%;
  }
  /*Project*/
  .project-wrapper {
    justify-content: space-between;
  }
  .project {
    min-width: 400px;
    margin: 0 0 40px 0;
  }
  .project a {
    padding: 40px 10px;
    font-size: 1rem;
  }
}
